nav li:nth-child(2) a:link,nav li:nth-child(2) a:visited{
    background: #4778ca;
    color: #fff;
}
main{
    width: 100%;
    height: 570px;
    background: url("../image/wsdl-bg.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main h1{
    font-family: mb;
    color: #fff;
    text-align: center;
    font-size: 48px;
    padding: 50px;
    font-style: italic;
    text-shadow: 5px 5px 10px #999;
    animation: aa 1s 1 ease;
}
@keyframes aa{                                                        /*welcome 动画*/
    0%{  opacity:0;transform:rotate(0deg);}
    30%{opacity:.3;transform:rotate(-5deg);}
    60%{opacity:.7;transform:rotate(5deg);}
    100%{opacity:1;transform:rotate(0deg);}
}
main ul{                                                                   /*主内容区*/
    width: 800px;
    margin: 0 auto;
    position: relative;
}
main li{
    width: 400px;
    height: 390px;
    float: left;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 40px 0 ;
}
main li dt{
    color: #fff;
    background: #415da9;
    width: 180px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin-bottom: 10px;
}
main li dd{
    line-height: 28px;
}
main .dlsm{                                                                  /*登录系统说明*/
    border-top-right-radius: 40px;
}
main .dlsm dd:last-child{
    color: #415da9;
}
main .wsdl{                                                                   /*网上登录*/
    border-top-left-radius: 40px;
    position: relative;
}
main .wsdl form{
    position: absolute;
    top: 120px;
    left: 60px;
}
main .wsdl dd{
    padding-bottom: 10px;
}
main .wsdl label{
    display: inline-block;
    width: 80px;
    text-align: right;
}
main .wsdl #u_name,main .wsdl #u_pwd{
    width: 200px;
    height: 30px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #dddddd;
    padding: 5px 10px;
    font-size: 16px;
    background:rgba(255, 255, 255, .1) url(../image/login1.png) no-repeat right center ;
    background-size:contain ;
}
main .wsdl #u_pwd{
    background:rgba(255, 255, 255, .1) url(../image/login2.png) no-repeat right center;
    background-size:contain ;
}
main .wsdl .int_login input,main .wsdl .int_reset input{                         /*登录重置按钮*/
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    border: 1px solid #efefef;
    background: #4778ca;
}
main .wsdl .int_login input:hover,main .wsdl .int_reset input:hover{
    background-color: #e8a929;
}
main .wsdl .int_login{
    position: absolute;
    top:100px ;
    left: 50%;
    margin-left: -100px;
}
main .wsdl .int_reset{
    position: absolute;
    top:100px ;
    left: 50%;
    margin-left: 20px;
}
main .city1{                                                                        /*下边框*/
    height: 40px;
    background-image: url("../image/city1.png");
    background-color: rgba(255, 255, 255, 0);
}
main .city2{
    height: 40px;
    background-image: url("../image/city2.png");
    background-color: rgba(255, 255, 255, 0);
}
