nav li:nth-child(1) a:link,nav li:nth-child(1) a:visited{
    background: #4778ca;
    color: #fff;
}
main{
    position: relative;
}
/*幻灯片*/
main .dong{
    height: 570px;
    position: relative;/*
    background: #efefef;*/
}
main .dong marquee{                                         /*滚动条*/
    z-index: 99999;
    width: 980px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -490px;
    padding: 10px;
    font-size: 18px;
    color: #000;
}
main .m-list1 img{
    width: 100%;
    height: 500px;
}
main .m-list1{
    overflow: hidden;
}
main .m-list1 li{
    float: left;
    width: 100%;
}

/*---------------------------------------path-------------------------------------*/
nav a.prev {
    left: 0;
}
nav a.next {
    right: 0;
}
.nav-roundslide a {
    position: absolute;
    top: 50%;
    display: block;
    text-align: left;
    z-index: 1000;
    margin: -30px 20px 0;
    padding: 15px;
    width: 62px;
    height: 62px;
    border-radius: 40px;
    background: #374d5e;
    -webkit-transition: width 0.3s, background-color 0.3s;
    transition: width 0.3s, background-color 0.3s;
}

.nav-roundslide .icon-wrap {
    position: absolute;
    width: 32px;
    height: 32px;
}
.nav-roundslide a.prev .icon-wrap {
    left: 15px;
    background: url(../image/left.png) no-repeat center -1px;
}

.nav-roundslide a.next .icon-wrap {
    right: 15px;
    background: url(../image/right.png) no-repeat center -1px;
}
.nav-roundslide h3 {
    position: absolute;
    top: 0;
    color: #566473;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 4.45;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.nav-roundslide a.prev h3 {
    right: 40px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.nav-roundslide a.next h3 {
    left: 40px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.nav-roundslide a:hover {
    width: 150px;
    background: #fff;
}
.nav-roundslide a:hover h3 {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
/*---------------------------------------报到说明-------------------------------------------*/
main .bd dl{
    width: 480px;
    border: 1px solid #89a3a3;
}
.bd dl.bdsm{
    position: absolute;
    top: 480px;
    left: 50%;
    margin-left: -500px;
}
.bd dl.xszn{
    position: absolute;
    top: 480px;
    left: 50%;
    margin-left: 20px;
}
.bd dl dt{
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    font-size: 26px;
    font-weight: bold;
    color: #4778ca;
    background: rgba(255, 255, 255, .5);
}
.bd dl:hover dt{
    background: rgba(255, 255, 255, .9);
    color: #415da9;
    border: 0;
}
.bd dl dd{
    padding: 5px 30px;
}
.bd dl:hover{                                                              /*向上拉抻*/
    animation: dd 1s 1;
    position: absolute;
    top: 270px;
}
@keyframes dd {
    0%{
        top: 400px;
    }
    100%{
        top: 270px;
    }
}
.bd .layer{
    display: none;
    padding-bottom:40px;
    color: #444;
}
.bd dl:hover .layer{
    display: block;
    background: rgba(255, 255, 255, .9);
}
.bd .bdsm dd:last-child a{                                           /*网上登录按钮样式*/
    display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 36px;
    box-shadow: 3px 3px 5px #d1d1d1;
    background: #e8a929;
    margin: 5px 0 0 20px;
    color: #fff;
}
.bd .bdsm dd:last-child a:hover{
    background: #4778ca;
    border: 0;
}
.bd dl.xszn dd{                                                         /*新生指南*/
    padding-left: 70px;
    background: url("../image/index-list1.png") no-repeat 30px center;
}
.bd dl.xszn dd:nth-child(2){
    padding-left: 70px;
    background: url("../image/index-list2.png") no-repeat 30px center;
}
.bd dl.xszn dd:nth-child(3){
    padding-left: 70px;
    background: url("../image/index-list3.png") no-repeat 30px center;
}
.bd dl.xszn dd:nth-child(4){
    padding-left: 70px;
    background: url("../image/index-list4.png") no-repeat 30px center;
}
.bd dl.xszn dd:nth-child(5){
    padding-left: 70px;
    background: url("../image/index-list6.png") no-repeat 30px center;
}
.bd dl.xszn a:link,.bd dl.xszn a:visited{
    color: #444;
}
.bd dl.xszn a:hover{
    color: #4778ca;
}

/*----------------------------------友情链接--------------------------------*/
main .m-yqlj{
    background: #efefef;
    height: 80px;
    color: #fff;
    padding: 20px 50px;
}
main .m-yqlj li{
    float: left;
    text-align: center;
    line-height: 40px;
    padding: 0 10px;
}
main .m-yqlj li:nth-child(1){
    width: 200px;
    height: 40px;
    font-weight: bold;/*
    border: 1px solid #89a3a3;*/
    background: url("../image/yqlj.png") #f4af35;
    margin-right: 10px;
}
main .m-yqlj li a:link,main .m-yqlj li a:visited{
    color: #4778ca;
}
main .m-yqlj li a:hover{
    text-decoration: underline;
    color: #e8a929;
}
