 #hd aside{
    height: 933px;
}
#hd aside .lyzx dd:nth-child(2) div{
    opacity: 0;
}
#hd article #content{
    animation: small 1s 1;                                    /*动画-变大*/
}
@keyframes small{
    from{
        transform: scale(.1);
    }
    to{
        transform:none;
    }
}
main .dong{                                                      /*幻灯片*/
    height: 200px;
    position: relative;
}
main .dong .list-img li{
    float: left;
    width: 100%;
}
main .dong .list-img li a{
    width: 100%;
    padding-right: 10px;
}
main .dong li img{
    width: 100%;
    min-width: 664px;
    height: 200px;
}
main .dong a{
    display: inline-block;
    width: 30px;
    height: 80px;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
main .dong .next a{
    position:absolute ;
    top: 75px;
    right: 0px;
}
main .dong .prev a{
    position:absolute ;
    top: 75px;
    left: 0px;
}
#hd article ul{
    margin-top: 20px;
}
#hd article .sub-nav{                                              /*最新/热留言导航*/
    background: #fff;
    line-height: 40px;
    padding-left: 250px;
}
#hd article .sub-nav li{
    float: left;
    background: url("../image/nav-1.png") no-repeat 5px center;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 600;
}
#hd article .sub-nav li:nth-child(2){
    background: url("../image/nav-2.png") no-repeat 5px center;
}
#hd article .sub-nav a:link,.sub-nav a:visited{
    color: #e8a929;
}
#hd article .sub-nav a:hover{
    color: #4778ca;
}
#hd article ul .ly_text{                                          /*列表内容*/
    position: relative;
    margin: 20px 30px 20px 10px;
    border-bottom: 1px dashed #89a3a3;
    padding-bottom: 20px;
}
#hd article #new-word li:last-child .ly_text,#hd article #hot-word li:last-child .ly_text{
    border: 0;
}
#hd article ul .ly_text dt{
    font-size: 18px;
}
#hd article ul .ly_text a{
    color: #444;
}
#hd article ul .ly_text dd{
    padding: 5px;
    text-indent: 2em;
}
#hd article ul .ly_text dd:nth-child(3){
    color: #999;
}
#hd article ul .ly_text dd:nth-child(4){
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: #9d9d9d;
}
#hd article ul .ly_text dd:nth-child(4) a{
    color: #9d9d9d;
    padding: 5px;
}
#hd article ul .ly_text dd:nth-child(4) a:nth-child(1){
    color: #4778ca;
}
#hd article #hot-word{
    display: none;
}



